body {
  background: #3F424D; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  }

button {
    background-color: #BA8E23;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s, background 0.3s;
  }

  button:hover {
    transform: scale(1.05); /* Le bouton grossit un peu au survol */
    background-color: #667eea;
  }
